header {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}

img {
    padding-left: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

h1 {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 35px;
    font-weight: 600;
}

span {
    padding-left:65px;
}