@import "../../styles.css";

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    margin: 2px
}

.notImputed {
    background-color: rgb(255 255 255);
    border: 1.5px solid rgb(226 232 240);
}

.imputed{
    background-color: rgb(255 255 255);
    border: 1.5px solid black; 
    text-shadow: 1px 2px 2px black;
}

.space {
    height: 50px;
}

/* .keyboard {
    height: 60px;
    cursor: pointer;
}

.keyboard tr td {
    text-align: center;
    background-color: rgb(226 232 240);
    border: 1.5px solid rgb(226 232 240);
    width: 40px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}

.keyboard tr td:hover{
    text-align: center;
    background-color: rgb(255 255 255);
    border: 1.5px solid black; 
    width: 40px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
} */
